@font-face {
    font-family:'Noto Sans KR';
    src: url("./AppleSDGothicNeoB.ttf") format("ttf");
}

@font-face {
    font-family:'Apple SD Gothic';
    src: url("./AppleSDGothicNeoB.ttf") format("ttf");
}

@font-face {
    font-family:'맑은고딕';
    src: url("./AppleSDGothicNeoB.ttf") format("ttf");
}

@font-face {
    font-family:'sans-serif';
    src: url("./AppleSDGothicNeoB.ttf") format("ttf");
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gmarket Sans';
    src: url("./GmarketSansTTFBold.ttf") format("ttf");
}

@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '강원교육튼튼';
    src: url('./강원교육튼튼.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('./DungGeunMo.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}